.searchbar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.searchbar-links {
    display: flex;
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

.image-form {
    display: flex;
    gap: 10px;
}